<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Случайные Цитаты</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Случайная Цитата</h1>
        <blockquote class="blockquote text-center">
            <p class="mb-0">{{ quote }}</p>
            <footer class="blockquote-footer">{{ author }}</footer>
        </blockquote>
        <div class="text-center">
            <a href="/" class="btn btn-primary">Получить новую цитату</a>
        </div>
    </div>
</body>
</html>